.mat-toolbar .gd-logo {
  margin-right: 10px;
  vertical-align: middle; }

.mat-toolbar .gd-logo {
  color: #00acc1;
  background-color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 172, 193, 0.04), 1px 2px 0 rgba(0, 172, 193, 0.04), 1px 3px 0 rgba(0, 172, 193, 0.04), 2px 4px 0 rgba(0, 172, 193, 0.04), 3px 5px 0 rgba(0, 172, 193, 0.04), 4px 6px 0 rgba(0, 172, 193, 0.04), 5px 7px 0 rgba(0, 172, 193, 0.04), 6px 8px 0 rgba(0, 172, 193, 0.04), 7px 9px 0 rgba(0, 172, 193, 0.04), 8px 10px 0 rgba(0, 172, 193, 0.04), 9px 11px 0 rgba(0, 172, 193, 0.04), 10px 12px 0 rgba(0, 172, 193, 0.04), 11px 13px 0 rgba(0, 172, 193, 0.04), 12px 14px 0 rgba(0, 172, 193, 0.04), 13px 15px 0 rgba(0, 172, 193, 0.04), 14px 16px 0 rgba(0, 172, 193, 0.04), 15px 17px 0 rgba(0, 172, 193, 0.04), 16px 18px 0 rgba(0, 172, 193, 0.04), 17px 19px 0 rgba(0, 172, 193, 0.04), 18px 20px 0 rgba(0, 172, 193, 0.04), 19px 21px 0 rgba(0, 172, 193, 0.04), 20px 22px 0 rgba(0, 172, 193, 0.04), 21px 23px 0 rgba(0, 172, 193, 0.04); }

.gd-logo {
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  vertical-align: middle;
  background-color: #00acc1;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05), 1px 2px 0 rgba(0, 0, 0, 0.05), 1px 3px 0 rgba(0, 0, 0, 0.05), 2px 4px 0 rgba(0, 0, 0, 0.05), 3px 5px 0 rgba(0, 0, 0, 0.05), 4px 6px 0 rgba(0, 0, 0, 0.05), 5px 7px 0 rgba(0, 0, 0, 0.05), 6px 8px 0 rgba(0, 0, 0, 0.05), 7px 9px 0 rgba(0, 0, 0, 0.05), 8px 10px 0 rgba(0, 0, 0, 0.05), 9px 11px 0 rgba(0, 0, 0, 0.05), 10px 12px 0 rgba(0, 0, 0, 0.05), 11px 13px 0 rgba(0, 0, 0, 0.05), 12px 14px 0 rgba(0, 0, 0, 0.05), 13px 15px 0 rgba(0, 0, 0, 0.05), 14px 16px 0 rgba(0, 0, 0, 0.05), 15px 17px 0 rgba(0, 0, 0, 0.05), 16px 18px 0 rgba(0, 0, 0, 0.05), 17px 19px 0 rgba(0, 0, 0, 0.05), 18px 20px 0 rgba(0, 0, 0, 0.05), 19px 21px 0 rgba(0, 0, 0, 0.05), 20px 22px 0 rgba(0, 0, 0, 0.05), 21px 23px 0 rgba(0, 0, 0, 0.05); }
  .gd-logo.gd-logo-white {
    color: #00acc1;
    background-color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 172, 193, 0.04), 1px 2px 0 rgba(0, 172, 193, 0.04), 1px 3px 0 rgba(0, 172, 193, 0.04), 2px 4px 0 rgba(0, 172, 193, 0.04), 3px 5px 0 rgba(0, 172, 193, 0.04), 4px 6px 0 rgba(0, 172, 193, 0.04), 5px 7px 0 rgba(0, 172, 193, 0.04), 6px 8px 0 rgba(0, 172, 193, 0.04), 7px 9px 0 rgba(0, 172, 193, 0.04), 8px 10px 0 rgba(0, 172, 193, 0.04), 9px 11px 0 rgba(0, 172, 193, 0.04), 10px 12px 0 rgba(0, 172, 193, 0.04), 11px 13px 0 rgba(0, 172, 193, 0.04), 12px 14px 0 rgba(0, 172, 193, 0.04), 13px 15px 0 rgba(0, 172, 193, 0.04), 14px 16px 0 rgba(0, 172, 193, 0.04), 15px 17px 0 rgba(0, 172, 193, 0.04), 16px 18px 0 rgba(0, 172, 193, 0.04), 17px 19px 0 rgba(0, 172, 193, 0.04), 18px 20px 0 rgba(0, 172, 193, 0.04), 19px 21px 0 rgba(0, 172, 193, 0.04), 20px 22px 0 rgba(0, 172, 193, 0.04), 21px 23px 0 rgba(0, 172, 193, 0.04); }
  .gd-logo.gd-logo-sm {
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 18px; }
  .gd-logo.gd-logo-lg {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 36px; }
