@model Dangl.WebDocumentation.ViewModels.Home.IndexViewModel

<h1>Projects</h1>

@{
    foreach (var project in Model.Projects)
    {
        <p>@project.Name</p>
        <p>@project.PathToIndex</p>
    }
}
