<h1>Legal Notice &amp; Privacy</h1>

<p>Dangl.<strong>Docu</strong> hosts all documentation and help pages for products and services offered by Dangl<strong>IT</strong> as well as for multiple open source projects.</p>

<p>
    This website is operated and hosted by <a href="https://www.dangl-it.com/legal-notice/">Dangl<strong>IT</strong> GmbH</a>.
    Please <a href="mailto:info@dangl-it.com">contact us</a> for any further questions.
</p>

<p>
    <strong>
        The source code for this website is completely open and available at
        <a href="https://github.com/GeorgDangl/WebDocu">GitHub</a>.
    </strong>
</p>

<h2>Privacy Information</h2>

<p>If you have no user account, no information about you is stored.</p>
<p>
    For user accounts, the only personal identifiable information stored about you
    is your email address. You will not receive automated newsletters, we will not
    give your information to anyone and we will not use your information for anything
    else than providing this documentation website.
</p>

<p>
    You only need your own user account if you are a customer of Dangl<strong>IT</strong>
    and want to get access to internal, non-public information.
</p>
