@model Dangl.WebDocumentation.ViewModels.Admin.CreateProjectViewModel

<p>
    <a asp-action="Index">Back to overview</a>
</p>
<h3>Create a new project</h3>

@using (Html.BeginForm("CreateProject", "Admin"))
{
    @Html.ValidationSummary()
}

<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Admin" asp-action="CreateProject" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="ProjectName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ProjectName" class="form-control" placeholder="Name"/>
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IsPublic" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsPublic" />
                                Public Access
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PathToIndexPage" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PathToIndexPage" class="form-control" placeholder="Path to Index" />
                        <span asp-validation-for="PathToIndexPage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AvailableUsers" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        @{
                            if (Model.AvailableUsers != null)
                            {
                                foreach (var availableUser in Model.AvailableUsers)
                                {
                                    <input type="checkbox" id="User_@availableUser" name="SelectedUsers" value="@availableUser"/>
                                    <label for="User_@availableUser">@availableUser</label>
                                    <br/>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-raised btn-primary">Create Project</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<p class="text-info">When a project is set to be publicly accessible, anyone including non-registered users may view it.</p>
