@model Dangl.WebDocumentation.ViewModels.Admin.DeleteProjectViewModel

<h3>Project deleted</h3>
<p>@ViewBag.ProjectName was succesfully deleted.</p>

<p>
    <a asp-action="Index">Back to overview</a>
</p>