@model Dangl.WebDocumentation.ViewModels.Admin.EditProjectViewModel

<p>
    <a asp-action="Index">Back to overview</a>
</p>
<h3>Edit project &quot;@Model.ProjectName&quot;</h3>

<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Admin" asp-action="EditProject" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="ProjectName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ProjectName" class="form-control" />
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IsPublic" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label asp-for="IsPublic">
                                <input asp-for="IsPublic" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PathToIndexPage" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PathToIndexPage" class="form-control" />
                        <span asp-validation-for="PathToIndexPage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ApiKey" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ApiKey" class="form-control" />
                        <span asp-validation-for="ApiKey" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <p>
                        If a checkbox is disabled, this means the user has been given access via a claim in Dangl.<strong>Identity</strong>.
                        It can not be changed here in Dangl<strong>Docu</strong>.
                    </p>
                    <label asp-for="AvailableUsers" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        @{
                            var users = Model.UsersWithAccess.Select(entry => new { Name = entry.Email, entry.SetFromIdentityProviderClaim, IsEnabled = true })
                                .Union(Model.AvailableUsers.Select(entry => new { Name = entry, SetFromIdentityProviderClaim = false, IsEnabled = false })).OrderBy(entry => entry.Name).ToList();
                            foreach (var user in users)
                            {
                                <br />

                                <label for="User_@user.Name">
                                    <input type="checkbox"
                                           id="User_@user.Name" 
                                           name="SelectedUsers" 
                                           value="@user.Name"
                                           @{ if (user.IsEnabled) { <text> checked</text> }} 
                                           @{ if (user.SetFromIdentityProviderClaim) { <text> disabled</text> }} />
                                    @user.Name
                                </label>
                                <br />
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-raised btn-primary">Save Changes</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<p class="text-info">When a project is set to be publicly accessible, anyone including non-registered users may view it.</p>
<p class="text-info">Setting an empty API Key will disable API uploads for that project.</p>
