@model Dangl.WebDocumentation.ViewModels.Admin.IndexViewModel

<h1>Admin Section</h1>

<p>
    <a asp-action="CreateProject">Create a new project</a>
</p>

<table class="table">
    <tbody>
    @{
        foreach (var project in Model.Projects)
        {
            <tr>
                <td>@project.Name</td>
                <td><a asp-action="EditProject" asp-route-ProjectName="@project.Name">Edit</a></td>
                <td><a asp-action="DeleteProject" asp-route-ProjectName="@project.Name">Delete</a></td>
            </tr>
        }
    }
    </tbody>
</table>
@{
    if (!Model.Projects.Any())
    {
        <h3>No projects configured</h3>
    }
}