@model Dangl.WebDocumentation.ViewModels.Admin.ManageUsersViewModel

<p>
    <a asp-action="Index">Back to overview</a>
</p>

<h3>Admin Users</h3>

<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Admin" asp-action="ManageUsers" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                @{
                    foreach (var user in Model.Users)
                    {
                        <div class="form-group">
                            <input id="@user.Name" value="@user.Name" name="AdminUsers" type="checkbox" @{if(user.IsAdmin) {<text>checked</text>}}/>
                            <label for="@user.Name">@user.Name</label>
                        </div>
                    }
                }
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Save Changes</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>