@model Dangl.WebDocumentation.ViewModels.Admin.ManageUsersViewModel

<p>
    <a asp-action="Index">Back to overview</a>
</p>

<h3>Users</h3>
<p>A checked box means the user is in the <strong>Admin</strong> role.</p>

<div class="row">
    <div class="col-md-8">
        <section>
                <div class="text-danger"></div>
                @{
                    foreach (var user in Model.Users)
                    {
                        <div class="form-group">
                            <input id="@user.Name" value="@user.Name" name="AdminUsers" disabled type="checkbox" @{if(user.IsAdmin) {<text>checked</text>}}/>
                            <label for="@user.Name">@user.Name</label>
                        </div>
                    }
                }
        </section>
    </div>
</div>
