<p>
    <a asp-action="Index">Back to overview</a>
</p>
<h3>Upload a Package</h3>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Admin" asp-action="UploadProject" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="file" name="projectPackage"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" onclick="$(this).addClass('disabled').html('<span class=\'glyphicon glyphicon-refresh glyphicon-spin\'></span> Submitting...');" class="btn btn-default">Upload</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>