<p>
    <a asp-action="Index">Back to overview</a>
</p>
<h3>Upload a Package to project @ViewBag.ProjectName</h3>
<p>Use a zip file that contains the project. Make sure the correct path to the index or starting page is specified.</p>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Admin" asp-action="UploadProject" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label for="projectPackage" class="col-md-2">Package</label>
                    <div class="col-md-10 col-md-offset-2">
                        <input type="text" readonly="" class="form-control" placeholder="Package File" />
                        <input type="file" name="projectPackage" id="projectPackage" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2">Version</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="version" placeholder="Version" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2">Changelog (Markdown)</label>
                    <div class="col-md-10">
                        <textarea class="form-control" name="markdownChangelog"> </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" onclick="$(this).addClass('disabled').html('<span class=\'glyphicon glyphicon-refresh glyphicon-spin\'></span> Submitting...');" class="btn btn-raised btn-primary">Upload</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<h4>Upload via the API</h4>
<p>You can also use the API to upload a project package, for that you need the API key of the project (get or change it on the Project Edit page) and then perform a web request to upload the file.</p>
<p>Example with cURL:</p>
<code>curl -F "ApiKey=@ViewBag.ApiKey" -F "MarkdownChangelog=&lt;your changelog&gt;" -F "ProjectPackage=@@\"C:\Path\To\Package.zip\"" @Url.Action("Upload", "ApiProjects", null, Context.Request.Scheme)</code>
<p>
    <b>Where</b><br />
    <code>ApiKey</code><span>The API key configured for your project</span><br />
    <code>MarkdownChangelog</code><span>Optional string for the changelog</span><br />
    <code>ProjectPackage</code><span>The path to the file you want to upload</span><br />
    <code>@Url.Action("Upload", "Projects", null, Context.Request.Scheme)</code><span>The resource endpoint for Api project uploads</span>
</p>
