@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings

<header class="ms-header ms-header-primary">
    <div class="container container-full">
        <div class="ms-title">
            <a href="/">
                <span class="ms-logo">GD</span>
                <h1>
                    @AppSettings.Value.SiteTitlePrefix<span>@AppSettings.Value.SiteTitlePostfix</span>
                </h1>
            </a>
        </div>
        <div class="header-right">
            <a href="javascript:void(0)" class="btn-ms-menu btn-circle btn-circle-primary ms-toggle-left">
                <i class="zmdi zmdi-menu"></i>
            </a>
        </div>
    </div>
</header>

@await Html.PartialAsync("_MenuPartial")
