@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-link" asp-controller="Manage" asp-action="Index" title="Manage">
                    @UserManager.GetUserName(User)
                </a>
            </li>
            <li>
                <a class="nav-link ml-2" href="javascript:{}" onclick="document.getElementById('logoutForm').submit()">
                    <i class="zmdi zmdi-power"></i> Logout
                </a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right ms-navbar-right">
        @{
            if (AppSettings.Value.AllowUserRegistration)
            {
                <li><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
            }}
        <li>
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}
