@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-link" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button style="border:0;" type="submit" class="btn btn-link navbar-btn nav-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @{
            if (AppSettings.Value.AllowUserRegistration)
            {
                <li><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
            }}
        <li>
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}
