@using Microsoft.Extensions.Options
@inject IOptions<AppSettings> AppSettings
@inject Dangl.Identity.Client.Mvc.Services.IUserInfoService UserInfoService

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right logged-in-partial">
            <li>
                <a class="nav-link" asp-controller="Home" asp-action="ManageAccount">
                    <img style="border-radius: 15px" src="@AppSettings.Value.DanglIconsBaseUrl.TrimEnd('/')/api/identicons/@(await UserInfoService.GetCurrentUserIdenticonIdAsync()).png?size=30&amp;useSingleColor=true&amp;useMaterialColors=true&amp;useExtendedBlockConfigurator=true">
                    @(await UserInfoService.GetCurrentUserNameAsync())
                </a>
            </li>
            <li>
                <a class="nav-link ml-2" href="javascript:{}" onclick="document.getElementById('logoutForm').submit()">
                    <i class="zmdi zmdi-power"></i> Logout
                </a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right ms-navbar-right">
        <li>
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login / Register</a>
        </li>
    </ul>
}
