<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <applicationInitialization doAppInitAfterRestart="true" xdt:Transform="Insert">
      <add initializationPage="/" hostName="docs.dangl-it.com" />
      <add initializationPage="/api/status" hostName="docs.dangl-it.com" />
    </applicationInitialization>
    <aspNetCore stdoutLogEnabled="false" xdt:Transform="SetAttributes">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" xdt:Transform="Insert" />
      </environmentVariables>
    </aspNetCore>
    <rewrite xdt:Transform="Insert">
      <rules>
        <!-- This rule is allowing requests for domain ownership validation to pass through -->
        <rule name="LetsEncrypt Rule" stopProcessing="true">
          <match url="^\.well-known.*$" />
          <action type="None" />
        </rule>
        <!-- This rule makes sure that for requests from localhost, no HTTPS redirection is -->
        <!-- performed, since Azure App Service warmup requests are over HTTP on localhost -->
        <rule name="Warmup" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REMOTE_ADDR}" pattern="127.0.0.*" />
          </conditions>
        </rule>
        <!-- Enforces redirection of all HTTP traffic to HTTPS -->
        <rule name="Enforce HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
